@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background: 20, 20, 20; /* Very dark gray */
  --accent: 212, 175, 55; /* Gold default */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 20, 20, 20;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
